[Unit]
Description=Whispering Willow
After=network.target

[Service]
Type=simple
User=whisperer
Environment="XDG_RUNTIME_DIR=/run/user/1000"
ExecStart=/usr/bin/python /home/whisperer/src/whispering-willow/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
